
.form-group label .required{color: #ff0000;}

.formWrapper label{
    color: #363A41;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
}

.formWrapper .form-control{
    background-color: #ffffff;
    border: 1px solid rgba(18,166,255, 20%);
    height: auto;
    border-radius: 4px;
}

.formWrapper .authBtn{
    background: #CFEDFF;
    /* background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%); */
    border: 0;
    color: #363A41;
    display: block;
    font-size: 15px;
    width: auto;
    border-radius: 24px;
    padding: 10px 65px;
    margin: 20px auto;
}

.form-control:disabled, .form-control[readonly] {background-color: #e9ecef; opacity: 1;}
.icon-trash{padding: 10px 0px; margin: 20px auto;}